= render "shared/main-header"
.brand-wrap
  .container
    %h1.head 
      = @brand.name 
      の商品一覧
    %ul.brand-items
      = render partial: 'products/product-list', collection: @products, as: "product"
  .brand-pagination
    = paginate @products

= render 'shared/sell-button'
= render 'shared/main-footer'
