.mypage-side
  %nav.mypage-side__nav
    %ul.mypage-side__nav_lists
      %li.nav-list.active
        = link_to "",users_path, class:"nav-list__link"
        %p マイページ
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %P お知らせ
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p やることリスト
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p いいね！一覧
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 出品する
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 出品した商品 - 出品中
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 出品した商品 - 取引中
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 出品した商品 - 売却済み
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 購入した商品 - 取引中
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 購入した商品 - 過去の取引
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p ニュース一覧
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 評価一覧
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p ガイド
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p お問い合わせ
    %h3.mypage-side_head メルペイ
    %ul.mypage-side__nav_lists
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 売上・振込申請
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p ポイント
    %h3.mypage-side_head 設定
    %ul.mypage-side__nav_lists
      %li.nav-list
        = link_to edit_user_path(1), class:"nav-list__link" do
          プロフィール
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 発送元・お届け先住所
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 支払い方法
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p メール/パスワード
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 本人確認
      %li.nav-list
        = link_to "", class:"nav-list__link"
        %p 電話番号の確認
      %li.nav-list
        = link_to "", logout_path, class:"nav-list__link"
        %p ログアウト
