.mypage-main
  = render partial: "mypage_user_header"
  %section.myapage-tabs__lists
    %ul.mypage__tabs
      %li.mypage__tabs_tab.tab1.active
        お知らせ
      %li.mypage__tabs_tab.tab1
        やることリスト
    .tab__lists.lists1
      = render partial: "notice_lists"
      = render partial: "task_lists"
  %section.myapage-tabs__lists
    %h2.mypage-tabs__title 購入した商品
    %ul.mypage__tabs
      %li.mypage__tabs_tab.tab2.active
        取引中
      %li.mypage__tabs_tab.tab2
        過去の取引
    .tab__lists.lists2
      = render partial: "trading_lists"
      = render partial: "traded_lists"
