%ul.tab__lists__notices.show
  %li.notice
    = link_to "",class:"notice__link clearfix" do
      %img.notice__link_img{alt: "", src: "/assets/mercari_profile_icon.png"}
      .notice__link-message
        %p 事務所からの個別メッセージ
        %span.notice__link-message__passed
          %i.far.fa-clock
          1日前
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link clearfix" do
      %img.notice__link_img{alt: "", src: "/assets/mercari_profile_icon.png"}
      .notice__link-message
        %p 事務所からの個別メッセージ
        %span.notice__link-message__passed
          %i.far.fa-clock
          2日前
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link clearfix" do
      %img.notice__link_img{alt: "", src: "/assets/mercari_profile_icon.png"}
      .notice__link-message
        %p 事務所からの個別メッセージ
        %span.notice__link-message__passed
          %i.far.fa-clock
          3日前
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link clearfix" do
      %img.notice__link_img{alt: "", src: "/assets/mercari_profile_icon.png"}
      .notice__link-message
        %p 事務所からの個別メッセージ
        %span.notice__link-message__passed
          %i.far.fa-clock
          4日前
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.go-notice-lists
    = link_to "",class:"go-notice-lists__link" do
      一覧を見る
