%ul.show
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」を購入しました。発送をお待ちください
        %span.notice__link-message__tag.blue 発送待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」の支払いをしてください。
        %span.notice__link-message__tag.red 支払い待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」の取引が完了しました。受取評価をしてください。
        %span.notice__link-message__tag.red 受取評価待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」の取引が完了しました。受取評価をしてください。
        %span.notice__link-message__tag.red 受取評価待ち
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.go-notice-lists
    = link_to "",class:"go-notice-lists__link" do
      一覧を見る

