%ul
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.notice
    = link_to "",class:"notice__link" do
      = image_tag "mercari_profile_icon.png", class:"notice__link_img", alt: ""
      .notice__link-message
        %p 「商品名」を購入しました。取引が完了しました
        %span.notice__link-message__tag.gray 取引完了
      = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"
  %li.go-notice-lists
    = link_to "",class:"go-notice-lists__link" do
      一覧を見る

%ul.notice__none
  %li
    現在、過去の取引はありません
