= render partial: 'shared/main-header'
- breadcrumb :sold_products_users
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'shared/mypage_side'
  .my-products-container
    %section.my-products-main
      %h2.my-products-main__header 出品した商品
      %ul.my-products-main__tab
        %li.selling
          = link_to "出品中", selling_products_users_path, class: "my-link"
        %li.sold.active
          = link_to "売却済み", sold_products_users_path, class: "sold-link"
      .my-products-main__contents
        %ul.transaction
          - current_user.bought_products.each do |product|
            %li.product
              = link_to item_product_path(product), class: "product-link" do
                %figure
                  = image_tag product.images.first.name.to_s, class: "product-image"
                .product-body
                  .product-body__title 
                    = "「#{product.name}」を購入しました。取引が完了しました"
                  .product-body__element
                    .product-status.gray 取引完了
                %i.fas.fa-angle-right.fa-2x.icon-sizing
    %ul.my-products-history
      %li.my-products-history__preview.page-btn
        = link_to "#", class: "history-link" do
          %i.fas.fa-angle-left.fa-2x.history-icon-sizing
      %li.my-products-history__next.page-btn
        = link_to "#", class: "history-link" do
          %i.fas.fa-angle-right.fa-2x.history-icon-sizing
= render partial: 'shared/sell-button'
= render partial: 'shared/main-footer'