= render partial: 'shared/main-header'
- breadcrumb :identification_users
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'identification_main'
  = render partial: 'shared/sell-button'
= render partial: 'shared/main-footer'
