= render partial: "shared/main-header"
- breadcrumb :mypage
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'shared/mypage_side'
  .mypage-main
    = render partial: "mypage_user_header"
    %section.mypage-tabs-box
      %ul.mypage__tabs
        %li.mypage__tabs_tab.tab1.active
          お知らせ
        %li.mypage__tabs_tab.tab1
          やることリスト
      .tab__contents.lists1
        = render partial: "notice_lists"
        = render partial: "task_lists"
    %section.mypage-tabs-box
      %h2.mypage-tabs__title 購入した商品
      %ul.mypage__tabs
        %li.mypage__tabs_tab.tab2.active
          取引中
        %li.mypage__tabs_tab.tab2
          過去の取引
      .tab__contents.lists2
        = render partial: "trading_lists"
        = render partial: "traded_lists"
= render 'shared/sell-button'
= render 'shared/main-footer'
