= render partial: "shared/main-header"
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'shared/mypage_side'
  = render partial: 'mypage_main'
= render 'shared/sell-button'
= render 'shared/main-footer'
