%nav.bread-crumbs.l-container
  %ul.container
    %li
      = link_to "" do
        %span メルカリ
      = fa_icon 'chevron-right'
    %li
      = link_to "" do
        %span マイページ
      = fa_icon 'chevron-right'
    %li
      %span.page_now ログアウト
%main
  = render partial: 'mypage_side'
  .mypage-main
    %section.mypage-main__header
      %h2.header_title
        プロフィール
      .mystore-name-edit
        %img.mystore_icon{src: "/assets/member_photo_noimage_thumb.png"}
        %input.input{name:"nickname",placeholder: "",type:"text"}
    .profile
      %textarea.profile_textarea{name:"introduction", placeholder:"例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
      %button.profile_button{type: "submit"} 変更する
    


