= render 'shared/main-header'
- breadcrumb :logout
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'shared/mypage_side'
  .mypage-main
    = link_to destroy_user_session_path, method: :delete, class:"logout-btn" do
      ログアウト
= render 'shared/sell-button'
= render 'shared/main-footer'



