= render partial: 'shared/main-header'
- breadcrumb :selling_products_users
= render partial: "shared/bread_crumb"
%main.mypage-body
  = render partial: 'shared/mypage_side'
  = render partial: 'selling_products_main', locals: {own_products: @products}
  = render partial: 'shared/sell-button'
= render partial: 'shared/main-footer'