= render partial: 'shared/main-header'
= render partial: "shared/bread_crumb"
%main
  = render partial: 'identification_main'
  = render partial: 'shared/sell-button'
= render partial: 'shared/main-footer'
