.sub-footer
  .nav
    %ul
      %li
        = link_to 'プライバシーポリシー', root_path
      %li
        = link_to 'メルカリ利用規約', root_path
      %li
        = link_to '特定商取引に関する表記', root_path
  = link_to root_path, class: 'footer-link', data: {"turbolinks" => false} do
    = image_tag 'logo-gray.svg', alt: 'mercari', class: 'header-logo', height: '65', width: '80', class:"footer-logo"
  %p
    %small
    © 2019 Mercari