.rgs-body
  .logo-header
    %h1
      = link_to root_path, class: 'header-link' do
        = image_tag 'logo.svg', alt: 'mercari', class: 'header-logo', height: '49', width: '185'
  .rgs-main
    .rgs-main__section
      %h2 新規会員登録
      .form
        .btn-registration.email
          = link_to '', step2_registrations_path, class:'about__registered'
          %p メールアドレスで登録する
          %i.fas.fa-envelope
        .btn-registration.facebook
          = link_to '', user_facebook_omniauth_authorize_path, method: :post, class:'about__registered'
          %p facebookで登録する
          %i.fab.fa-facebook-square
        .btn-registration.google
          = link_to '', user_google_oauth2_omniauth_authorize_path, class:'about__registered'
          %p googleで登録する
  =render "sub-footer"