.rgs-body
  =render "rgs-header"
  .rgs-main
    .rgs-main__section
      %h2 支払い方法
      = form_with usl: creditcards_path, method: :post, html: { name: "inputForm" },class:"form", id: "charge-form" do |f|
        .form__upper
          .form__upper__group
            = f.label :カード番号
            %span.form-require 必須
            = f.text_field :card_number, type: "text", placeholder: '半角数字のみ', class: 'input-default', maxlength: "16"
            %ol
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'visa.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'master-card.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'saison-card.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'jcb.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'american_express.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'dinersclub.svg'}", width:"35", height:"20"}
              %li
                %object{type: "image/svg+xml", data: "#{asset_path 'discover.svg'}", width:"35", height:"20"}
          .form__upper__group
            .name
              = f.label :有効期限
              %span.form-require 必須
            %input{type: "number", name: "exp_year", class: 'input-default-harf' } 年
          .form__upper__group

            %input.last-name{type: "number", name: "exp_month", class: 'input-default-harf' } 月
          .form__upper__group
            = f.label :セキュリティーコード
            %span.form-require 必須
            %input{ type: 'text', name: "cvc", placeholder: 'カード背面4桁もしくは3桁の番号', class: 'input-default' }
          .form__upper__group
            %p.about
              = fa_icon 'question-circle'
              %span<>
              = link_to 'カード裏面の番号とは？', root_path, class:'about__registered'
          .form__upper__group
            %button.btn-default{type: "submit"} 次へ進む
  =render "sub-footer"