.menu-left__item
  = fa_icon 'tag lg',class:'menu-left__item--icon'
  ブランドから探す
  %ul.brand
    %li.brand__item
      %h3 
        = link_to "シャネル"
    %li.brand__item
      %h3 
        = link_to "ナイキ"
    %li.brand__item
      %h3 
        = link_to "ルイ ヴィトン"
    %li.brand__item
      %h3 
        = link_to "シュプリーム"
    %li.brand__item
      %h3 
        = link_to "アディダス"
