.menu-left__item
  = fa_icon 'list lg', class:'menu-left__item--icon'
  = link_to "カテゴリーから探す", categories_path
  %ul.parent#category
    %li.parent__item
      %h3 
        = link_to "レディース"
        %ul
    %li.parent__item
      %h3
        = link_to "メンズ"
    %li.parent__item
      %h3
        = link_to "ベビー・キッズ"
    %li.parent__item
      %h3
        = link_to "インテリア・住まい・小物"
    %li.parent__item
      %h3
        = link_to "本・音楽・ゲーム"
    %li.parent__item
      %h3
        = link_to "おもちゃ・ホビー・グッズ"
    %li.parent__item
      %h3
        = link_to "コスメ・香水・美容"
    %li.parent__item
      %h3
        = link_to "家電・スマホ・カメラ"
    %li.parent__item
      %h3
        = link_to "スポーツ・レジャー"
    %li.parent__item
      %h3
        = link_to "ハンドメイド"
    %li.parent__item
      %h3
        = link_to "チケット"
    %li.parent__item
      %h3
        = link_to "自動車・オートバイ"
    %li.parent__item
      %h3
        = link_to "その他"
       

