%li.notice
  = link_to product_path(product),class:"notice__link " do
    .notice__link_img
      = image_tag product.images.first.name.to_s, alt: "" 
      - unless product.buyer.blank?
        .soldout
          .soldout_text 
            %p SOLD
    .notice__link-message
      %p 
        = product.name
      %span.notice__link-message__passed
        = "¥#{product.price}"
    = fa_icon 'chevron-right', class:"mypage-notice_arrow_right"