= render 'shared/main-header'
%nav.bread-crumbs.l-container
  %ul.container
    %li
      = link_to "" do
        %span メルカリ
      = fa_icon 'chevron-right'
    %li
      = link_to "" do
        %span マイページ
      = fa_icon 'chevron-right'
    %li
      %span.page_now 支払い方法
%main
  = render partial: 'shared/mypage_side'
  .mypage-main
    %h2.header_title
      支払い方法
    .single-container
      %section
        %div
          %h3 クレジットカード一覧
        .creditcard-info
          = image_tag 'master-card.svg',width:'34',height:'20', alt:'master-card'
          %p.creditcard-info__number
            ************1234
          %p.creditcard-info__period 
            09 / 25
          %button.creditcard-info__delete 
            削除する
      .payment-explain
        = fa_icon 'chevron-right', class:"arrows"
        = link_to '支払い方法について', '#'
          

        

    
= render 'shared/sell-button'