= render "shared/main-header"
- breadcrumb :category_index
= render partial: "shared/bread_crumb"
.category
  %h2 カテゴリー一覧
  .nav
    - @categories.each do |parent|
      = link_to  "#" + "#{parent.id}",class:"nav__item" do
        = parent.name
        
  

  .wrap
    .container
      - @categories.each do |parent|
        .head
          %h3{id:"#{parent.id}"}
            = parent.name
        .category-box
          %p
            = link_to "すべて", category_path(parent)
          - parent.children.each do |child|
            .category-box__name
              %h4 
                = child.name
              .category-box__grandchildren
                .category-box__grandchildren__item
                  %p
                    = link_to "すべて", category_path(child)
                - child.children.each do |grandchild|
                  .category-box__grandchildren__item
                    %p
                      = link_to grandchild.name, category_path(grandchild)
          
= render 'shared/sell-button'
= render 'shared/main-footer'
