= render "shared/main-header"
- breadcrumb :category_show, @category
= render partial: "shared/bread_crumb"
.category-wrap
  .container
    %h1.head 
      = @category.name 
      の商品一覧
    %ul.category-items
      = render partial: 'categories/category-list', collection: @products, as: "product"
  .category-pagination
    = paginate @products

= render 'shared/sell-button'
= render 'shared/main-footer'
