= render "shared/main-header"
%nav.bread-crumbs.l-container
- breadcrumb :category_show, @category
= render partial: "shared/bread_crumb"
.category-wrap
  .container
    %h1.head 
      = @category.name 
      の商品一覧
    %ul.category-items
      - @products.each do |product|
        %li.category-item
          = render partial: 'products/product-list', locals: { product: product }
  .category-pagination
    = paginate @products

= render 'shared/sell-button'
= render 'shared/main-footer'
