.new-items-container-top
  .brand-title#chanel_items
    %h3 シャネル新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@chanel)
      = fa_icon 'chevron-right'
  %ul.brand-items
    - @chanels.products.recent.each do |product|
      %li.brand-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-middle
  .brand-title#louis-vuitton_items
    %h3 ルイヴィトン新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@vuitton)
      = fa_icon 'chevron-right'
  %ul.brand-items
    - @vuittons.products.recent.each do |product|
      %li.brand-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-middle
  .brand-title#supreme_items
    %h3 シュプリーム新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@supreme)
      = fa_icon 'chevron-right'
  %ul.brand-items
    - @supremes.products.recent.each do |product|
      %li.brand-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-bottom
  .brand-title#nike_items
    %h3 ナイキ新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@nike)
      = fa_icon 'chevron-right'
  %ul.brand-items
    - @nikes.products.recent.each do |product|
      %li.brand-item.fadein
        = render partial: 'products/product-list', locals: { product: product }