.new-items-container-top
  .brand-title#chanel_items
    %h3 シャネル新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@chanels)
      = fa_icon 'chevron-right'
  %ul.brand-items
    = render partial: 'products/brand-top', collection: @chanels, as: "product"
.new-items-container-middle
  .brand-title#louis-vuitton_items
    %h3 ルイヴィトン新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@vuittons)
      = fa_icon 'chevron-right'
  %ul.brand-items
    = render partial: 'products/brand-top', collection: @vuittons, as: "product"
.new-items-container-middle
  .brand-title#supreme_items
    %h3 シュプリーム新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@supremes)
      = fa_icon 'chevron-right'
  %ul.brand-items
    = render partial: 'products/brand-top', collection: @supremes, as: "product"
.new-items-container-bottom
  .brand-title#nike_items
    %h3 ナイキ新着アイテム
    .more
      = link_to 'もっと見る', brand_path(@nikes)
      = fa_icon 'chevron-right'
  %ul.brand-items
    = render partial: 'products/brand-top', collection: @nikes, as: "product"
