.new-items-container-top
  .category-title#lady_items
    %h3 レディース新着アイテム
    .more
      もっと見る
      = fa_icon 'chevron-right'
  %ul.category-items
    - @products.each do |product|
      %li.category-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-middle
  .category-title#men_items
    %h3 メンズ新着アイテム
    .more
      もっと見る
      = fa_icon 'chevron-right'
  %ul.category-items
    - @products.each do |product|
      %li.category-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-middle
  .category-title#home-appliance_items
    %h3 家電・スマホ・カメラ新着アイテム
    .more
      もっと見る
      = fa_icon 'chevron-right'
  %ul.category-items
    - @products.each do |product|
      %li.category-item.fadein
        = render partial: 'products/product-list', locals: { product: product }
.new-items-container-bottom
  .category-title#toy_items
    %h3 おもちゃ・ホビー・グッズ新着アイテム
    .more
      もっと見る
      = fa_icon 'chevron-right'
  %ul.category-items
    - @products.each do |product|
      %li.category-item.fadein
        = render partial: 'products/product-list', locals: { product: product }