.new-items-container-top
  .category-title#lady_items
    %h3 レディース新着アイテム
    .more
      = link_to "もっと見る", category_path(@lady)
      = fa_icon 'chevron-right'
  %ul.category-items
    = render partial: 'products/category-top', collection: @ladies, as: "product"
.new-items-container-middle
  .category-title#men_items
    %h3 メンズ新着アイテム
    .more
      = link_to "もっと見る", category_path(@man)
      = fa_icon 'chevron-right'
  %ul.category-items
    = render partial: 'products/category-top', collection: @men, as: "product"
.new-items-container-middle
  .category-title#home-appliance_items
    %h3 家電・スマホ・カメラ新着アイテム
    .more
      = link_to "もっと見る", category_path(@appliances)
      = fa_icon 'chevron-right'
  %ul.category-items
    = render partial: 'products/category-top', collection: @appliances, as: "product"
.new-items-container-bottom
  .category-title#toy_items
    %h3 おもちゃ・ホビー・グッズ新着アイテム
    .more
      = link_to "もっと見る", category_path(@toys)
      = fa_icon 'chevron-right'
  %ul.category-items
    = render partial: 'products/category-top', collection: @toys, as: "product"
