.single-container
  %header.single-header
    %h1
      = link_to image_tag('header-logo.svg', alt: 'header-logo'), root_path

  %main.single-main
    %section.buy-item-container.l-single-container
      %h2.l-single-head
        購入内容の確認
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item__image
            = image_tag 'item-show.jpg'
          %p.buy-item__name
            THE SHOP TK ボディバッグ ショルダーバッグ
          %form.buy-form
            %p.buy-form__price
              ¥3,000
              %span.shipping-fee
                送料込み
            %ul.buy-form__accordion
              %li.accrodion-parent
                .accordion-toggle 
                  ポイントはありません
            %ul.buy-form__price-table
              %li.buy-price.buy-you-pay
                .buy-price__cell
                  支払い金額
                .buy-price__cell
                  %span ¥3,000
            %button.btn-red
              購入する

      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info__text
            〒123-4567
            %br
            大阪府大阪市●●
            %br
            テストユーザー
          .buy-user-info__fix 
            = link_to '変更する', '#'
            = fa_icon 'chevron-right'
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            ************1234
          %br
          09/25
          %br
          = image_tag 'master-card.svg',width:'34',height:'20', alt:'master-card'
          .buy-user-info__fix 
            = link_to '変更する', '#'
            = fa_icon 'chevron-right'
  %footer.single-footer
    %nav
      %ul.clear-fix
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .single-footer-logo
      = link_to image_tag('logo-gray.svg'), root_path
    %p
      %small © 2019 Mercari