.deal-container
  %header.deal-header
    %h1
      = link_to image_tag('header-logo.svg', alt: 'header-logo'), root_path

  %main.main-wrapper
    %section.buy-info
      %h2.buy-info__head
        購入内容の確認
        
      %section.buy-info__content.buy-info__item
        .buy-inner
          %h3.buy-info__item__image
            = image_tag @image = @product.images.first.name.to_s
          %p.buy-info__item__name
            = @product.name
          %form.buy-info__item__form
            %p.buy-info__item__form__price
              = "¥ #{@product.price.to_s(:delimited)}"
              %span.shipping-fee
                送料込み
            %ul.buy-info__item__form__accordion
              %li.accrodion-parent
                .accordion-toggle 
                  ポイントはありません
            %ul.buy-info__item__form__price-table
              %li.buy-price.buy-you-pay
                .buy-price__cell
                  支払い金額
                .buy-price__cell
                  %span 
                    = "¥ #{@product.price.to_s(:delimited)}"
            %button.buy-info__item__form__btn-red
              購入する

      %section.buy-info__content.buy-info__user
        .buy-inner
          %h3 配送先
          %address.buy-info__user--text
            = "〒#{@postalcode}"
            %br
            = @address_full
            %br
            = @full_name
          .buy-info__user--fix
            = link_to '変更する', '#'
            = fa_icon 'chevron-right'

      %section.buy-info__content.buy-info__user
        .buy-inner
          %h3 支払い方法
          - if @card.present?
            %p.buy-user-info--text
              = "**** **** **** " + @card_info.last4
            %br
            = @exp_month + " / " + @exp_year
            %br
            = image_tag @card_image,width:'34',height:'20', alt:'master-card'
            .buy-info__user--fix 
              = link_to '変更する', creditcards_path
              = fa_icon 'chevron-right'
          - else
            = link_to '追加する', creditcards_path

  %footer.deal-footer
    %nav
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .deal-footer__logo
      = link_to image_tag('logo-gray.svg'), root_path
    %p
      %small © 2019 Mercari