= render 'shared/main-header'
.img_wapper
  .wrap
    %ul.top-slider
      %li.top-slide-item
        = image_tag 'top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg', alt: 'mercari-top'
      %li.top-slide-item
        = image_tag 'top-banner-sale-fee-free-034ec8d0642f5714a26822988195b62c.png', alt: 'mercari-top'
      %li.top-slide-item
        = image_tag 'mercari-top.png', alt: 'mercari-top'
.top-wrapper 
  .top-container
    .category-info
      .category-info__text 
        %h2 人気のカテゴリー
      %ul.category-info__tags
        = link_to "レディース", "#lady_items", class: "category-tag"
        = link_to "メンズ", "#men_items", class: "category-tag"
        = link_to "家電・スマホ・カメラ", "#home-appliance_items", class: "category-tag"
        = link_to "おもちゃ・ホビー・グッズ", "#toy_items", class: "category-tag"
    = render partial: 'products/category_product-list'
    .brand-info
      .brand-info__text
        %h2 人気のブランド
      %ul.brand-info__tags
        = link_to "シャネル", "#chanel_items", class: "brand-tag"
        = link_to "ルイヴィトン", "#louis-vuitton_items", class: "brand-tag"
        = link_to "シュプリーム", "#supreme_items", class: "brand-tag"
        = link_to "ナイキ", "#nike_items", class: "brand-tag"
    = render partial: 'products/brand_product-list'
= render 'shared/sell-button'
= render 'shared/main-footer'


