= render 'shared/main-header'
.img_wapper
  = image_tag 'mercari-top.png', alt: 'mercari-top'
.top-wrapper 
  .top-container
    .category-info
      .category-info__text 
        %h2 人気のカテゴリー
      %ul.category-info__tags
        %li.category-tag
          レディース
        %li.category-tag
          メンズ
        %li.category-tag
          家電・スマホ・カメラ
        %li.category-tag
          おもちゃ・ホビー・グッズ
    .new-items-container
      .category-title
        %h3 レディース新着アイテム
        .more
          もっと見る
          = fa_icon 'chevron-right'
      %ul.category-items
        = render partial: 'products/product-list'
        %li.category-item 
          = link_to '#',class: "category-item--link" do
            .item-box
              .item-box__top
                .item-box__top__image
                  = image_tag 'mercari.png', size: '188x188', class: 'product-image'
                  .product-price
                    ¥1,000
              .item-box__description
                %span あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        %li.category-item
          = image_tag 'product-sample.png'
        %li.category-item
          = image_tag 'product-sample.png'
        %li.category-item
          = image_tag 'product-sample.png'
        %li.category-item
          = image_tag 'product-sample.png'
        %li.category-item 
          = image_tag 'product-sample.png'
        %li.category-item
          = image_tag 'product-sample.png'
        %li.category-item
          = image_tag 'product-sample.png'
    .brand-info
      .brand-info__text
        %h2 人気のブランド
      %ul.brand-info__tags
        %li.brand-tag
          シャネル
        %li.brand-tag
          ルイヴィトン
        %li.brand-tag
          シュプリーム
        %li.brand-tag
          ナイキ
    .new-items-container
      .brand-title
        %h3 シャネル新着アイテム
        .more
          もっと見る
          = fa_icon 'chevron-right'
      %ul.brand-items
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
        %li.brand-item
          = image_tag 'brand-sample.png'
= render 'shared/sell-button'
= render 'shared/main-footer'


