= render 'shared/main-header'
= render 'shared/bread_crumb'

%section.product-container
  %h1.head 
    = @product.name
  .product.clearfix
    .wrap
      - unless @product.buyer.blank?
        .soldout
          .soldout_text 
            %p SOLD
      %ul.slider
        - @images.each do |image|
          %li.slide-item
            = image_tag image.name.to_s, alt: 'mercari-top'
      %ul.thumbnail-list
        - @images.each do |image|
          %li.thumbnail-item
            = image_tag image.name.to_s, alt: 'mercari-top'
    %table.product__table
      %tbody
        %tr
          %th 出品者
          %td 
            = link_to @product.seller.nickname, "#", class: 'user-name'
        %tr
          %th カテゴリー
          %td.category
            .category__name
              = link_to @category[0],category_path(@product.category_ids[0])
            .category__sub
              = fa_icon 'chevron-right'
              = link_to @category[1], category_path(@product.category_ids[1])
            .category__sub
              = fa_icon 'chevron-right'
              = link_to @category[2], category_path(@product.category_ids[2])
        %tr
          %th ブランド
          %td
            = link_to @product.brand.name, brand_path(@product.brand),class: 'brand__name' if @product.brand.present?
        - if @product.size.present?
          %tr
            %th サイズ
            %td.size
              = @product.size
        %tr
          %th 商品の状態
          %td
            = @product.condition
        %tr
          %th 配送料の負担
          %td
            = @product.postage
        %tr
          %th 配送の方法
          %td
            = @product.shipping_method
        %tr
          %th 配送元地域
          %td.prefecture
            = link_to @product.prefecture.name, "#",class: 'prefecture__name'
        %tr
          %th 発送日の目安	
          %td
            = @product.shipping_days
  .product__price-box 
    %span.product__price-box__price
      = "¥ #{@product.price.to_s(:delimited)}"
    %span.product__price-box_tax
      (税込)
    %span.product__price-box__shipping-fee
      - if @product.shipping_method == "着払い(購入者負担)"
        送料別
      - else
        送料込み
  .product__description
    %p<
      = @product.description
.product-action
  = link_to "商品の編集", edit_product_path(@product), class: "product-action__edit", data: {"turbolinks" => false}
  %p.product-action__separate or
  = form_with model: @product, url: "#" do |f|
    = f.submit "出品を一旦停止する", class: "product-action__reselling"
  = link_to "商品を削除する", product_path(@product), method: :delete, class: "product-action__delete", data: {confirm: "この商品を削除しますか？"}
.comment-wrapper
  .comment-container
    .comment
      %form{ class:'comment__form'}
        %p.comment__form__notice 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{ class: 'comment__form__textarea' }
        %button{type: 'submit', class: 'comment__form__button'}
          %span コメントする

= render 'shared/main-footer'

.modalArea#modalArea
  .modalBg#modalBg
  .modalWrapper
    .modalContents
      %h1 Here are modal contents!
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
