.new-product
  .logo-header
    %h1
      = link_to root_path, class: 'header-link' do
        = image_tag '/assets/logo.svg', alt: 'mercari', class: 'header-logo', height: '49', width: '185'
  .main
    .head
      %h2 商品の情報を入力
    .form
      .form__image
        .form__image__title
          %label 出品画像
          %span 必須
        .form__image__text 最大10枚までアップロードできます
        %form.form__image__field
          %label.upload-box
            .upload-box__text
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
            %input.hidden{type: 'file', name: 'images'}
      .form__container
        .form__container__name
          %label 商品名
          %span 必須
          .input-space
            %input{name: 'name', placeholder: '商品名（必須 40文字まで）'}
        .form__container__description
          %label 商品の説明
          %span 必須
          %textarea{name: 'description', rows: "5", cols: 40, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'}
      .form__details
        %h3 商品の詳細
        .form__details__form-box
          .form__details__form-box__category
            %label カテゴリー
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              %select
                %option{hidden: "", value: ""} ---
                %option{value: ""} レディース
                %option{value: ""} メンズ
                %option{value: ""} ベビー・キッズ
                %option{value: ""} インテリア・住まい・小物
                %option{value: ""} 本・音楽・ゲーム
                %option{value: ""} おもちゃ・ホビー・グッズ
                %option{value: ""} コスメ・香水・美容
                %option{value: ""} 家電・スマホ・カメラ
                %option{value: ""} スポーツ・レジャー
                %option{value: ""} ハンドメイド
                %option{value: ""} チケット
                %option{value: ""} 自動車・オートバイ
                %option{value: ""} その他
          .form__details__form-box__condition
            %label 商品の状態
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              %select
                %option{hidden: "", value: ""} ---
      .form__shipping
        %h3 配送について
        .form__shipping__form-box
          .form__shipping__form-box__fee
            %label 配送料の負担
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              %select
                %option{hidden: "", value: ""} ---
          .form__shipping__form-box__area
            %label 配送元の地域
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              %select
                %option{hidden: "", value: ""} ---
          .form__shipping__form-box__day
            %label 配送までの日数
            %span 必須
            .form-select
              = fa_icon 'angle-down', class: 'icon-angle-down'
              %select
                %option{hidden: "", value: ""} ---
  =render "./registrations/sub-footer"