= render 'shared/main-header'
.search-container
  .search-side
    = search_form_for @q, url: search_products_path, html: { method: :post } do |f|
      .search-sort
        .form-group
          .select-wrap
            = fa_icon 'angle-down', class: 'icon-angle-down'
            %select{name: :sort_order, class: 'select-order'}
              %option{value: "location.pathname", name: "location.pathname"}
                並び替え
              %option{value: "price_asc"}
                価格の安い順
              %option{value: "price_desc"}
                価格の高い順
              %option{value: "created_at_asc"}
                出品の古い順
              %option{value: "created_at_desc"}
                出品の新しい順
      .search-content
        .search-content__detail-titel
          詳細検索
        .search-content__keyword
          %label.search-content__keyword--label
            %i.fas.fa-plus.search-content__keyword--label--icon
            %span.search-content__keyword--label--sapn
              キーワードを追加する
          = f.text_field :name_cont, class: "search-content__keyword__text", placeholder: "例) 値下げ"
        .search-content__category
          %label.search-content__category--label
            %i.fas.fa-bars.search-content__category--label--icon
            %span.search-content__category--label--title
              カテゴリーを選択する
          .search-content__category__select
            %i.fas.fa-chevron-down.search-content__category__select--icon
            %select.search-content__category__select--form
            -# = f.collection_select :category_ids, @parents, :id, :name,{prompt: "---"}, name: 'product[category_ids][]', class: "search-content__category__select", id: "parent-category"
        .search-content__brand
          %label.search-content__brand--label
            %i.fas.fa-tags.search-content__brand--label--icon
            %span.search-content__brand--label--sapn
              ブランド名から探す
          = f.text_field :name_cont, class: "search-content__brand__text", placeholder: "例) シャネル"
        .search-content__size
          %label.search-content__size--label
            %i.fas.fa-expand.search-content__category--label--icon
            %span.search-content__category--label--title
              サイズを指定する
          .search-content__size__select
            %i.fas.fa-chevron-down.search-content__size__select--icon
            %select.search-content__size__select--form
  .search-main
    .main-container
      - if params[:q]['name_cont'] == ""
        .main-container__new-products
          新着商品
        .main-container__items 
          - @products.first(24).each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
      - elsif @search_products.present?
        .main-container__head
          = params[:q][:name_cont]
          %span.main-container__head__text 
            の検索結果
        .main-container__result-number
          = page_entries_info @search_products
          -# %p 1
          -# %span -
          -# .search-container__result-number__length
          -#   = @search_products.total_count
          -# .search-container__result-number__count
          -#   件
        .main-container__items
          - @search_products.each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
        = paginate @search_products, class: "search-pagination"
      - else     
        .main-container__head
          = params[:q][:name_cont]
          %span.main-container__head__text 
            の検索結果
        .main-container__noresult
          該当する商品が見つかりません。検索条件を変えて、再度お試しください。
        .main-container__new-products
          新着商品
        .main-container__items 
          - @products.first(24).each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
= render 'shared/sell-button'
%nav.bread-crumbs_search.l-container
  %ul.container
    %li
      = link_to "" do
        %span メルカリ
      = fa_icon 'chevron-right', class: 'arrow-icon'
    %li
      %span.page_now 
        = params[:q][:name_cont]
= render 'shared/main-footer'