= render 'shared/main-header'
.search-container
  .search-side
    = search_form_for @q, url: search_products_path, html: { method: :post } do |f|
      .search-sort
        .form-group
          .select-wrap
            = fa_icon 'angle-down', class: 'icon-angle-down'
            %select{name: :sort_order, class: 'select-order'}
              %option{value: "location.pathname", name: "location.pathname"}
                並び替え
              %option{value: "price_asc"}
                価格の安い順
              %option{value: "price_desc"}
                価格の高い順
              %option{value: "created_at_asc"}
                出品の古い順
              %option{value: "created_at_desc"}
                出品の新しい順
      .search-content
        .search-content__detail-titel
          詳細検索
        .search-content__keyword
          %label.search-content__keyword--label
            %i.fas.fa-plus.search-content__keyword--label--icon
            %span.search-content__keyword--label--sapn
              キーワードを追加する
          = f.text_field :name_cont, class: "search-content__keyword__text", placeholder: "例) 値下げ"
        .search-content__category
          %label.search-content__category--label
            %i.fas.fa-bars.search-content__category--label--icon
            %span.search-content__category--label--title
              カテゴリーを選択する
          .search-content__category__select
            %i.fas.fa-chevron-down.search-content__category__select--icon
            = f.collection_select :categories_id_eq, @parents, :id, :name, {prompt: "---"}, {class: "search-content__category__select--form"}
        .search-content__brand
          %label.search-content__brand--label
            %i.fas.fa-tags.search-content__brand--label--icon
            %span.search-content__brand--label--sapn
              ブランド名から探す
          = f.text_field :brand_name_cont, class: "search-content__brand__text", placeholder: "例) シャネル"
        .search-content__size
          %label.search-content__size--label
            %i.fas.fa-expand.search-content__size--label--icon
            %span.search-content__size--label--title
              サイズを指定する
          .search-content__size__select
            %i.fas.fa-chevron-down.search-content__size__select--icon
            %select.search-content__size__select--form
        .search-content__price
          %label.search-content__price--label
            %i.fas.fa-coins.search-content__price--label--icon
            %span.search-content__price--label--title
              価格
          .search-content__price__select
            %i.fas.fa-chevron-down.search-content__price__select--icon
            = f.select( :price, ["300~1000", "1000~5000", "5000~10000", "10000~30000", "30000~50000", "50000~"], {prompt: "選択して下さい"}, { class: "search-content__price__select--form"} )
          .search-content__price__details
            = f.text_field :price_gteq, placeholder: "¥ Min", class: "search-content__price__details__min"
            %span ~
            = f.text_field :price_lteq, placeholder: "¥ Max", class: "search-content__price__details__max"
        .search-content__condition
          %label.search-content__condition--label
            %i.fas.fa-star.search-content__condition--label--icon
            %span.search-content__condition--label--title
              商品の状態
          .search-content__condition__form
            = f.collection_check_boxes( :condition_eq_any, Product.conditions.map{|k, v| [Product.conditions[k], v]}, :last , :first ,{}, {include_hidden: false, class: "search-content__condition__form__check-boxes"} ) do |b|
              = b.label(class: "search-content__condition__form__check-boxes__label") do
                = b.check_box(class: "search-content__condition__form__check-boxes__label__input")
                %i.fas.fa-check.check-icon.search-content__condition__form__check-boxes__label__icon
                = b.label(class: "search-content__condition__form__check-boxes__label__text")
        .search-content__postage
          %label.search-content__postage--label
            %i.fas.fa-truck.search-content__postage--label--icon
            %span.search-content__postage--label--title
              配送料の負担
          .search-content__postage__form
            = f.collection_check_boxes( :postage_eq_any, Product.postages.map{|k, v| [Product.postages[k], v]}, :last , :first ,{}, {include_hidden: false, class: "search-content__postage__form__check-boxes"} ) do |b|
              = b.label(class: "search-content__postage__form__check-boxes__label") do
                = b.check_box(class: "search-content__postage__form__check-boxes__label__input")
                %i.fas.fa-check.check-icon.search-content__postage__form__check-boxes__label__icon
                = b.label(class: "search-content__postage__form__check-boxes__label__text")
        .search-content__status
          %label.search-content__status--label
            %i.fas.fa-shopping-cart.search-content__status--label--icon
            %span.search-content__status--label--title
              販売状況
          .search-content__status__form
            -# statusのカラムがないのでname_eq_anyで仮置き
            = f.collection_check_boxes( :name_eq_any, Product.statuses.map{|k, v| [Product.statuses[k], v]}, :last , :first ,{}, {include_hidden: false, class: "search-content__status__form__check-boxes"} ) do |b|
              = b.label(class: "search-content__status__form__check-boxes__label") do
                = b.check_box(class: "search-content__status__form__check-boxes__label__input")
                %i.fas.fa-check.check-icon.search-content__status__form__check-boxes__label__icon
                = b.label(class: "search-content__status__form__check-boxes__label__text")
        .search-content__submit
          = button_tag 'クリア', type: 'reset', class: 'search-content__submit__clear'
          = button_tag '完了' ,type: 'submit', class: 'search-content__submit__complete'
  .search-main
    .main-container
      - if params[:q]['name_cont'] == ""
        .main-container__new-products
          新着商品
        .main-container__items 
          - @products.first(24).each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
      - elsif @search_products.present?
        .main-container__head
          = params[:q][:name_cont]
          %span.main-container__head__text 
            の検索結果
        .main-container__result-number
          = page_entries_info @search_products
        .main-container__items
          - @search_products.each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
        = paginate @search_products, class: "search-pagination"
      - else     
        .main-container__head
          = params[:q][:name_cont]
          %span.main-container__head__text 
            の検索結果
        .main-container__noresult
          該当する商品が見つかりません。検索条件を変えて、再度お試しください。
        .main-container__new-products
          新着商品
        .main-container__items 
          - @products.first(24).each do |product|
            = render partial: 'products/search_product-list', locals: { product: product }
= render 'shared/sell-button'
%nav.bread-crumbs_search.l-container
  %ul.container
    %li
      = link_to "" do
        %span メルカリ
      = fa_icon 'chevron-right', class: 'arrow-icon'
    %li
      %span.page_now 
        = params[:q][:name_cont]
= render 'shared/main-footer'