= render 'shared/main-header'

.search-container
  .search-side
    .search-sort
      .form-group
        .select-wrap
          .icon
          %select.select-order
    .search-content
  .search-main
    .main-container
      .main-container__head
        aaa
        %span.main-container__head__text の検索結果
      .main-container__result-number 1 - 132件表示
      .main-container__items
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218' 
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218'  
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218'
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218' 
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218'
        -# .main-container__items__item
        -#   = image_tag 'product-sample.png', size: '160x218'
        .main-container__items__item
          = link_to root_path ,class: "show-link" do
            .product-box
              .product-box__top
                .product-box__top__image
                  = image_tag 'logo-gray.svg', size: '160x160'
                  -# = image_tag product.images.first.name.to_s, size: '188x188', class: 'product-image'
                  .product-price
                    ¥
                    1,000
                    -# = product.price.to_s(:delimited)
              .product-box__description
                %span 
                  nameaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  -# = product.name

= render 'shared/sell-button'
= render 'shared/main-footer'