= render 'shared/main-header'
%section.product-container
  %h1.head 
    = @product.name
  .product.clearfix
    .product__photo
      = image_tag @image, alt: 'item-show-sample',class: 'product__photo__img'
      - unless @product.buyer.blank?
        .soldout
          .soldout_text 
            %p SOLD
    %table.product__table
      %tbody
        %tr
          %th 出品者
          %td 
            =link_to @product.seller.nickname, "", class: 'user-name'
            .user-ratings
              .user-ratings__icon 
                %i.fas.fa-grin.good
                  %span 1 
              .user-ratings__icon  
                %i.fas.fa-meh.normal
                  %span 0
              .user-ratings__icon  
                %i.fas.fa-frown.bad
                  %span 0
        %tr
          %th カテゴリー
          %td.category
            .category__name
              = link_to "#{@category[0]}", ""
            .category__sub
              = fa_icon 'chevron-right'
              = link_to "#{@category[1]}", ""
            .category__sub
              = fa_icon 'chevron-right'
              = link_to "#{@category[2]}", ""
        %tr
          %th ブランド
          %td.brand
            = link_to @product.brand.name, "",class: 'brand__name' if @product.brand.present?
        %tr
          %th 商品の状態
          %td 
            = @product.condition
        %tr
          %th 配送料の負担
          %td
            = @product.postage
        %tr
          %th 配送の方法
          %td 
            = @product.shipping_method
        %tr
          %th 配送元地域 
          %td.prefecture
            = link_to @product.prefecture.name, "",class: 'prefecture__name'
        %tr
          %th 発送日の目安	
          %td 
            = @product.shipping_days
  .product__price-box 
    %span.product__price-box__price
      = "¥ #{@product.price.to_s(:delimited)}"
    %span.product__price-box__tax
      (税込)
    %span.product__price-box__shipping-fee
      送料込み
  
  .product__buy-btn
    - if @product.buyer.blank?
      = link_to "購入画面に進む", buy_product_path, class:"product__buy-btn red"
    - else
      .product__buy-btn.gray
        購入画面に進む
  .product__description
    %p 
    = simple_format(@product.description)
  .option.clearfix
    .option__left
      - if current_user.already_liked?(@product) 
        = button_to like_path(product_id: @product.id), method: :delete, class:"option__left__like" do
          = fa_icon 'heart', class:"active"
          %span
            = "いいね！#{@product.likes.count}"
      - else
        = button_to likes_path(product_id: @product.id), method: :post, class:"option__left__like" do
          = fa_icon 'heart'
          %span 
            = "いいね！#{@product.likes.count}"
    .option__left
      .option__left__report
        = fa_icon 'flag'
        %span 不適切な商品の報告
    .option__right
      = fa_icon 'lock'
      %span あんしん・あんぜんへの取り組み

.comment-wrapper
  .comment-container
    .comment
      %form{ class:'comment__form'}
        %p.comment__form__notice 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{ class: 'comment__form__textarea' }
        %button{type: 'submit', class: 'comment__form__button'}
          %span コメントする

.product-bread-crumb
  - breadcrumb :product_show, @product
  = render partial: "shared/bread_crumb"
  = render 'shared/main-footer'
