!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample55a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-wrapper
        .header-upper
          .header-upper__logo
            = image_tag 'logo-header.svg', alt: 'logo'
          %form{ class:'header-upper__search'}
            %input{ type: "search", name: "keyword", placeholder: "何かお探しですか？",class: 'header-upper__search__text-field'}
            %button{class: 'header-upper__search__button' }
              = fa_icon 'search lg'
        .header-lower
    = yield
    
    %aside
      = image_tag 'mercari-aside.png', alt: 'aside-image'
    %footer
      .footer-wrapper
      = image_tag 'logo-footer.svg', alt: 'logo-footer'
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml
      %p Find me in app/views/top/index.html.haml

